<p>signin works!</p>

<form #signInForm="ngForm" (ngsubmit)=loginUser(signInForm)>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="EmailField" ngModel>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="PasswordField" ngModel>
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" name="termsField" ngModel>
      <label class="form-check-label" for="exampleCheck1">Agree to terms</label>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="signInForm.valid">  Submit</button>
  </form>