<div class="content">
    <div class="row">
          <div class="col-1 bg-info">
            Sidebar
          </div>
                <div class="col-9 main-content mt-6 p-3 pt-6 bg-danger" >
                  <div class="card text-center">
                    <div class="card-header">
                      <ul class="nav nav-tabs card-header-tabs">
                        
                        <li class="nav-item">
                          <a class="nav-link" href="/visibility">Visibility</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/logistics">Logistics</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/trade">Trade</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="images">images</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="shipping">Shipping</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
          <div class="col-2 bg-info">
            Right Sidebar
          </div>
</div>
</div>

<router-outlet></router-outlet>